@use './utils/bem' as *;
@use './common/base' as *;
@use './common/constants' as *;

@include b(button) {
  @include base;

  cursor: pointer;
  display: inline-block;
  line-height: 1;

  @include m(primary) {
    color: white;
    background-color: var(--#{$namespace}-color-primary);
  }

  @include m(tertiary) {
    color: white;
    background-color: #1ea7fd;
  }
}

.semi-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
}

.semi-button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.semi-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.semi-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
