@use './utils/bem' as *;
@use './common/constants' as *;
@use './utils/mixin' as *;
@use './common/vars' as *;

@include b(button) {
  @include base-style;
  @include inline-flex-c;

  cursor: pointer;
  height: $height-control-default;
  padding: 6px 12px;

  @include m(primary) {
    color: white;
    background-color: var(--#{$namespace}-color-primary);
  }

  @include m(tertiary) {
    color: white;
    background-color: #1ea7fd;
  }
}

.semi-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
}
