@use './utils/constants' as *;
@use './theme/light-theme' as light-theme;
@use './theme/dark-theme' as dark-theme;
@use './tokens/vars';

// 亮色模式
:root {
  // 字体
  --#{$namespace}-font-family-regular: #{vars.$font-family-regular};

  // 行高
  --#{$namespace}-line-height: #{vars.$line-height};

  // 字重
  --#{$namespace}-font-weight-regular: #{vars.$font-weight-regular};
  --#{$namespace}-font-weight-bold: #{vars.$font-weight-bold};

  // 字号
  --#{$namespace}-font-size-small: #{vars.$font-size-small};
  --#{$namespace}-font-size-regular: #{vars.$font-size-regular};
  --#{$namespace}-font-size-header-6: #{vars.$font-size-header-6};
  --#{$namespace}-font-size-header-5: #{vars.$font-size-header-5};
  --#{$namespace}-font-size-header-4: #{vars.$font-size-header-4};
  --#{$namespace}-font-size-header-3: #{vars.$font-size-header-3};
  --#{$namespace}-font-size-header-2: #{vars.$font-size-header-2};
  --#{$namespace}-font-size-header-1: #{vars.$font-size-header-1};

  // 正在拖拽中的元素的 z-index，需要高于所有的弹出层组件 z-index
  --#{$namespace}-z-transfer-right-item-drag-item-move: #{vars.$z-transfer-right-item-drag-item-move}; // 穿梭框右侧面板中正在拖拽元素的z-index
  --#{$namespace}-z-tag-input-drag-item-move: #{vars.$z-tag-input-drag-item-move}; // 标签输入框中正在拖拽元素的z-index
  --#{$namespace}-z-resizable-handler: #{vars.$z-resizable-handler}; // 伸缩框组件中handler的z-index
  --#{$namespace}-z-toast: #{vars.$z-toast}; // toast 组件 z-index
  --#{$namespace}-z-notification: #{vars.$z-notification}; // notification 组件 z-index
  --#{$namespace}-z-popover: #{vars.$z-popover}; // popover 组件 z-index
  --#{$namespace}-z-dropdown: #{vars.$z-dropdown}; // dropdown 组件 z-index
  --#{$namespace}-z-tooltip: #{vars.$z-tooltip}; // tooltip 组件 z-index
  --#{$namespace}-z-image-preview: #{vars.$z-image-preview}; // Image 组件预览层z-index
  --#{$namespace}-z-image-preview-header: #{vars.$z-image-preview-header}; // Image 组件预览层中 header 部分 z-index
  // z-index
  --#{$namespace}-z-portal: #{vars.$z-portal}; // 抽象插槽，适用于未经特殊定制的所有组件
  --#{$namespace}-z-affix: #{vars.$z-affix}; // 固定位置的页面元素 z-index
  --#{$namespace}-z-backtop: #{vars.$z-backtop}; // 返回顶部 z-index
  --#{$namespace}-z-badge: #{vars.$z-badge}; // badge z-index
  // $z-avatar-default: 100;
  --#{$namespace}-z-table-fixed: #{vars.$z-table-fixed}; // table fixed column
  --#{$namespace}-z-modal: #{vars.$z-modal}; // modal z-index
  --#{$namespace}-z-modal-mask: #{vars.$z-modal-mask}; // modal 遮罩 z-index
  // $z-resizable-background: 2010; // 伸缩框组件中背景的z-index

  // 边框宽度
  --#{$namespace}-border-thickness: #{vars.$border-thickness}; // 描边宽度 - 零
  --#{$namespace}-border-thickness-control: #{vars.$border-thickness-control}; // 描边宽度 - 默认状态（checkbox 等）
  --#{$namespace}-border-thickness-control-focus: #{vars.$border-thickness-control-focus}; // 描边宽度 - focus 状态（checkbox 等）

  // 图标尺寸
  --#{$namespace}-width-icon-extra-small: #{vars.$width-icon-extra-small}; // 图标尺寸 - 超小
  --#{$namespace}-width-icon-small: #{vars.$width-icon-small}; // 图标尺寸 - 小
  --#{$namespace}-width-icon-medium: #{vars.$width-icon-medium}; // 图标尺寸 - 中
  --#{$namespace}-width-icon-large: #{vars.$width-icon-large}; // 图标尺寸 - 大
  --#{$namespace}-width-icon-extra-large: #{vars.$width-icon-extra-large}; // 图标尺寸 - 超大

  /* spacing */
  --#{$namespace}-spacing-none: #{vars.$spacing-none};
  --#{$namespace}-spacing-super-tight: #{vars.$spacing-super-tight};
  --#{$namespace}-spacing-extra-tight: #{vars.$spacing-extra-tight};
  --#{$namespace}-spacing-tight: #{vars.$spacing-tight};
  --#{$namespace}-spacing-base-tight: #{vars.$spacing-base-tight};
  --#{$namespace}-spacing-base: #{vars.$spacing-base};
  --#{$namespace}-spacing-base-loose: #{vars.$spacing-base-loose};
  --#{$namespace}-spacing-loose: #{vars.$spacing-loose};
  --#{$namespace}-spacing-extra-loose: #{vars.$spacing-extra-loose};
  --#{$namespace}-spacing-super-loose: #{vars.$spacing-super-loose};

  // 圆角
  --#{$namespace}-border-radius-extra-small: #{vars.$border-radius-extra-small};
  --#{$namespace}-border-radius-small: #{vars.$border-radius-small};
  --#{$namespace}-border-radius-medium: #{vars.$border-radius-medium};
  --#{$namespace}-border-radius-large: #{vars.$border-radius-large};
  --#{$namespace}-border-radius-circle: #{vars.$border-radius-circle};
  --#{$namespace}-border-radius-full: #{vars.$border-radius-full};

  /* sizing */
  --#{$namespace}-height-control-small: #{vars.$height-control-small};
  --#{$namespace}-height-control-default: #{vars.$height-control-default};
  --#{$namespace}-height-control-large: #{vars.$height-control-large};

  // 主色系列
  --#{$namespace}-color-primary: #{light-theme.$primary};
  --#{$namespace}-color-primary-hover: #{light-theme.$primary-hover};
  --#{$namespace}-color-primary-active: #{light-theme.$primary-active};
  --#{$namespace}-color-primary-disabled: #{light-theme.$primary-disabled};

  // 浅版主色
  --#{$namespace}-color-primary-light: #{light-theme.$primary-light};
  --#{$namespace}-color-primary-light-hover: #{light-theme.$primary-light-hover};
  --#{$namespace}-color-primary-light-active: #{light-theme.$primary-light-active};

  // 次要色系列
  --#{$namespace}-color-secondary: #{light-theme.$secondary};
  --#{$namespace}-color-secondary-hover: #{light-theme.$secondary-hover};
  --#{$namespace}-color-secondary-active: #{light-theme.$secondary-active};
  --#{$namespace}-color-secondary-disabled: #{light-theme.$secondary-disabled};

  // 浅版次要色
  --#{$namespace}-color-secondary-light: #{light-theme.$secondary-light};
  --#{$namespace}-color-secondary-light-hover: #{light-theme.$secondary-light-hover};
  --#{$namespace}-color-secondary-light-active: #{light-theme.$secondary-light-active};

  // 第三色系列
  --#{$namespace}-color-tertiary: #{light-theme.$tertiary};
  --#{$namespace}-color-tertiary-hover: #{light-theme.$tertiary-hover};
  --#{$namespace}-color-tertiary-active: #{light-theme.$tertiary-active};

  // 浅版第三色
  --#{$namespace}-color-tertiary-light: #{light-theme.$tertiary-light};
  --#{$namespace}-color-tertiary-light-hover: #{light-theme.$tertiary-light-hover};
  --#{$namespace}-color-tertiary-light-active: #{light-theme.$tertiary-light-active};

  // 信息色系列
  --#{$namespace}-color-info: #{light-theme.$info};
  --#{$namespace}-color-info-hover: #{light-theme.$info-hover};
  --#{$namespace}-color-info-active: #{light-theme.$info-active};
  --#{$namespace}-color-info-disabled: #{light-theme.$info-disabled};

  // 浅版信息色
  --#{$namespace}-color-info-light: #{light-theme.$info-light};
  --#{$namespace}-color-info-light-hover: #{light-theme.$info-light-hover};
  --#{$namespace}-color-info-light-active: #{light-theme.$info-light-active};

  // 成功色系列
  --#{$namespace}-color-success: #{light-theme.$success};
  --#{$namespace}-color-success-hover: #{light-theme.$success-hover};
  --#{$namespace}-color-success-active: #{light-theme.$success-active};
  --#{$namespace}-color-success-disabled: #{light-theme.$success-disabled};

  // 浅版成功色
  --#{$namespace}-color-success-light: #{light-theme.$success-light};
  --#{$namespace}-color-success-light-hover: #{light-theme.$success-light-hover};
  --#{$namespace}-color-success-light-active: #{light-theme.$success-light-active};

  // 危险色系列
  --#{$namespace}-color-danger: #{light-theme.$danger};
  --#{$namespace}-color-danger-hover: #{light-theme.$danger-hover};
  --#{$namespace}-color-danger-active: #{light-theme.$danger-active};
  --#{$namespace}-color-danger-disabled: #{light-theme.$danger-disabled};

  // 浅版危险色
  --#{$namespace}-color-danger-light: #{light-theme.$danger-light};
  --#{$namespace}-color-danger-light-hover: #{light-theme.$danger-light-hover};
  --#{$namespace}-color-danger-light-active: #{light-theme.$danger-light-active};

  // 警告色系列
  --#{$namespace}-color-warning: #{light-theme.$warning};
  --#{$namespace}-color-warning-hover: #{light-theme.$warning-hover};
  --#{$namespace}-color-warning-active: #{light-theme.$warning-active};
  --#{$namespace}-color-warning-disabled: #{light-theme.$warning-disabled};

  // 浅版警告色
  --#{$namespace}-color-warning-light: #{light-theme.$warning-light};
  --#{$namespace}-color-warning-light-hover: #{light-theme.$warning-light-hover};
  --#{$namespace}-color-warning-light-active: #{light-theme.$warning-light-active};

  // 文本色
  --#{$namespace}-color-text-0: #{light-theme.$text-0};
  --#{$namespace}-color-text-1: #{light-theme.$text-1};
  --#{$namespace}-color-text-2: #{light-theme.$text-2};
  --#{$namespace}-color-text-3: #{light-theme.$text-3};

  // 链接色
  --#{$namespace}-color-link: #{light-theme.$link};
  --#{$namespace}-color-link-hover: #{light-theme.$link-hover};
  --#{$namespace}-color-link-active: #{light-theme.$link-active};
  --#{$namespace}-color-link-visited: #{light-theme.$link-visited};

  // 背景色
  --#{$namespace}-color-bg-0: #{light-theme.$bg-0};
  --#{$namespace}-color-bg-1: #{light-theme.$bg-1};
  --#{$namespace}-color-bg-2: #{light-theme.$bg-2};
  --#{$namespace}-color-bg-3: #{light-theme.$bg-3};
  --#{$namespace}-color-bg-4: #{light-theme.$bg-4};

  // 填充色
  --#{$namespace}-color-fill-0: #{light-theme.$fill-0};
  --#{$namespace}-color-fill-1: #{light-theme.$fill-1};
  --#{$namespace}-color-fill-2: #{light-theme.$fill-2};

  // 边框色
  --#{$namespace}-color-border: #{light-theme.$border};

  // 禁用态
  --#{$namespace}-color-text-disabled: #{light-theme.$text-disabled};
  --#{$namespace}-color-border-disabled: #{light-theme.$border-disabled};
  --#{$namespace}-color-bg-disabled: #{light-theme.$bg-disabled};
  --#{$namespace}-color-fill-disabled: #{light-theme.$fill-disabled};

  // 拟阴影色
  --#{$namespace}-color-shadow: #{light-theme.$shadow};

  // 阴影效果
  --#{$namespace}-shadow-0: #{light-theme.$shadow-0};
  --#{$namespace}-shadow-1: #{light-theme.$shadow-1};
  --#{$namespace}-shadow-2: #{light-theme.$shadow-2};
  --#{$namespace}-shadow-knob: #{light-theme.$shadow-knob};
  --#{$namespace}-shadow-elevated: #{light-theme.$shadow-elevated};

  font-family: var(--#{$namespace}-font-family-regular);
  font-size: var(--#{$namespace}-font-size-regular);
  line-height: var(--#{$namespace}-line-height);
}

// 暗色模式
:root[theme-mode='dark'],
:root.dark {
  // 主色系列
  --#{$namespace}-color-primary: #{dark-theme.$primary};
  --#{$namespace}-color-primary-hover: #{dark-theme.$primary-hover};
  --#{$namespace}-color-primary-active: #{dark-theme.$primary-active};
  --#{$namespace}-color-primary-disabled: #{dark-theme.$primary-disabled};

  // 浅版主色
  --#{$namespace}-color-primary-light: #{dark-theme.$primary-light};
  --#{$namespace}-color-primary-light-hover: #{dark-theme.$primary-light-hover};
  --#{$namespace}-color-primary-light-active: #{dark-theme.$primary-light-active};

  // 次要色系列
  --#{$namespace}-color-secondary: #{dark-theme.$secondary};
  --#{$namespace}-color-secondary-hover: #{dark-theme.$secondary-hover};
  --#{$namespace}-color-secondary-active: #{dark-theme.$secondary-active};
  --#{$namespace}-color-secondary-disabled: #{dark-theme.$secondary-disabled};

  // 浅版次要色
  --#{$namespace}-color-secondary-light: #{dark-theme.$secondary-light};
  --#{$namespace}-color-secondary-light-hover: #{dark-theme.$secondary-light-hover};
  --#{$namespace}-color-secondary-light-active: #{dark-theme.$secondary-light-active};

  // 第三色系列
  --#{$namespace}-color-tertiary: #{dark-theme.$tertiary};
  --#{$namespace}-color-tertiary-hover: #{dark-theme.$tertiary-hover};
  --#{$namespace}-color-tertiary-active: #{dark-theme.$tertiary-active};

  // 浅版第三色
  --#{$namespace}-color-tertiary-light: #{dark-theme.$tertiary-light};
  --#{$namespace}-color-tertiary-light-hover: #{dark-theme.$tertiary-light-hover};
  --#{$namespace}-color-tertiary-light-active: #{dark-theme.$tertiary-light-active};

  // 信息色系列
  --#{$namespace}-color-info: #{dark-theme.$info};
  --#{$namespace}-color-info-hover: #{dark-theme.$info-hover};
  --#{$namespace}-color-info-active: #{dark-theme.$info-active};
  --#{$namespace}-color-info-disabled: #{dark-theme.$info-disabled};

  // 浅版信息色
  --#{$namespace}-color-info-light: #{dark-theme.$info-light};
  --#{$namespace}-color-info-light-hover: #{dark-theme.$info-light-hover};
  --#{$namespace}-color-info-light-active: #{dark-theme.$info-light-active};

  // 成功色系列
  --#{$namespace}-color-success: #{dark-theme.$success};
  --#{$namespace}-color-success-hover: #{dark-theme.$success-hover};
  --#{$namespace}-color-success-active: #{dark-theme.$success-active};
  --#{$namespace}-color-success-disabled: #{dark-theme.$success-disabled};

  // 浅版成功色
  --#{$namespace}-color-success-light: #{dark-theme.$success-light};
  --#{$namespace}-color-success-light-hover: #{dark-theme.$success-light-hover};
  --#{$namespace}-color-success-light-active: #{dark-theme.$success-light-active};

  // 危险色系列
  --#{$namespace}-color-danger: #{dark-theme.$danger};
  --#{$namespace}-color-danger-hover: #{dark-theme.$danger-hover};
  --#{$namespace}-color-danger-active: #{dark-theme.$danger-active};
  --#{$namespace}-color-danger-disabled: #{dark-theme.$danger-disabled};

  // 浅版危险色
  --#{$namespace}-color-danger-light: #{dark-theme.$danger-light};
  --#{$namespace}-color-danger-light-hover: #{dark-theme.$danger-light-hover};
  --#{$namespace}-color-danger-light-active: #{dark-theme.$danger-light-active};

  // 警告色系列
  --#{$namespace}-color-warning: #{dark-theme.$warning};
  --#{$namespace}-color-warning-hover: #{dark-theme.$warning-hover};
  --#{$namespace}-color-warning-active: #{dark-theme.$warning-active};
  --#{$namespace}-color-warning-disabled: #{dark-theme.$warning-disabled};

  // 浅版警告色
  --#{$namespace}-color-warning-light: #{dark-theme.$warning-light};
  --#{$namespace}-color-warning-light-hover: #{dark-theme.$warning-light-hover};
  --#{$namespace}-color-warning-light-active: #{dark-theme.$warning-light-active};

  // 文本色
  --#{$namespace}-color-text-0: #{dark-theme.$text-0};
  --#{$namespace}-color-text-1: #{dark-theme.$text-1};
  --#{$namespace}-color-text-2: #{dark-theme.$text-2};
  --#{$namespace}-color-text-3: #{dark-theme.$text-3};

  // 链接色
  --#{$namespace}-color-link: #{dark-theme.$link};
  --#{$namespace}-color-link-hover: #{dark-theme.$link-hover};
  --#{$namespace}-color-link-active: #{dark-theme.$link-active};
  --#{$namespace}-color-link-visited: #{dark-theme.$link-visited};

  // 背景色
  --#{$namespace}-color-bg-0: #{dark-theme.$bg-0};
  --#{$namespace}-color-bg-1: #{dark-theme.$bg-1};
  --#{$namespace}-color-bg-2: #{dark-theme.$bg-2};
  --#{$namespace}-color-bg-3: #{dark-theme.$bg-3};
  --#{$namespace}-color-bg-4: #{dark-theme.$bg-4};

  // 填充色
  --#{$namespace}-color-fill-0: #{dark-theme.$fill-0};
  --#{$namespace}-color-fill-1: #{dark-theme.$fill-1};
  --#{$namespace}-color-fill-2: #{dark-theme.$fill-2};

  // 边框色
  --#{$namespace}-color-border: #{dark-theme.$border};

  // 禁用态
  --#{$namespace}-color-text-disabled: #{dark-theme.$text-disabled};
  --#{$namespace}-color-border-disabled: #{dark-theme.$border-disabled};
  --#{$namespace}-color-bg-disabled: #{dark-theme.$bg-disabled};
  --#{$namespace}-color-fill-disabled: #{dark-theme.$fill-disabled};

  // 拟阴影色
  --#{$namespace}-color-shadow: #{dark-theme.$shadow};

  // 阴影效果
  --#{$namespace}-shadow-0: #{dark-theme.$shadow-0};
  --#{$namespace}-shadow-1: #{dark-theme.$shadow-1};
  --#{$namespace}-shadow-2: #{dark-theme.$shadow-2};
  --#{$namespace}-shadow-knob: #{dark-theme.$shadow-knob};
  --#{$namespace}-shadow-elevated: #{dark-theme.$shadow-elevated};
}
