@use '../utils/bem' as *;
@use '../utils/constants' as *;
@use '../utils/mixin' as *;
@use '../utils/animate' as *;

@include b(icon) {
  @include base-style;

  display: inline-block;

  width: var(--#{$namespace}-width-icon-medium);
  height: var(--#{$namespace}-width-icon-medium);

  font-size: var(--#{$namespace}-width-icon-medium);
  line-height: 1;
  vertical-align: middle;

  @include m(extra-large) {
    width: var(--#{$namespace}-width-icon-extra-large);
    height: var(--#{$namespace}-width-icon-extra-large);
    font-size: var(--#{$namespace}-width-icon-extra-large);
  }

  @include m(large) {
    width: var(--#{$namespace}-width-icon-large);
    height: var(--#{$namespace}-width-icon-large);
    font-size: var(--#{$namespace}-width-icon-large);
  }

  @include m(small) {
    width: var(--#{$namespace}-width-icon-small);
    height: var(--#{$namespace}-width-icon-small);
    font-size: var(--#{$namespace}-width-icon-small);
  }

  @include m(extra-small) {
    width: var(--#{$namespace}-width-icon-extra-small);
    height: var(--#{$namespace}-width-icon-extra-small);
    font-size: var(--#{$namespace}-width-icon-extra-small);
  }

  @include e(inner) {
    display: inline-block;
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  @include m(spin) {
    animation: #{$namespace}-spin 1s infinite linear;
  }
}
