// 通用
$white: rgb(255 255 255);
$black: rgb(0 0 0);

// 暗色主题
$red: (
  0: rgb(108 9 11),
  1: rgb(144 17 16),
  2: rgb(180 32 25),
  3: rgb(215 51 36),
  4: rgb(251 73 50),
  5: rgb(252 114 90),
  6: rgb(253 153 131),
  7: rgb(253 190 172),
  8: rgb(254 224 213),
  9: rgb(255 243 239),
);
$pink: (
  0: rgb(92 7 48),
  1: rgb(128 14 65),
  2: rgb(164 23 81),
  3: rgb(199 34 97),
  4: rgb(235 47 113),
  5: rgb(239 86 134),
  6: rgb(243 126 159),
  7: rgb(247 168 188),
  8: rgb(251 211 220),
  9: rgb(253 238 241),
);
$purple: (
  0: rgb(74 16 97),
  1: rgb(94 23 118),
  2: rgb(115 31 138),
  3: rgb(137 40 159),
  4: rgb(160 51 179),
  5: rgb(181 83 194),
  6: rgb(202 120 209),
  7: rgb(221 160 225),
  8: rgb(239 206 240),
  9: rgb(247 235 247),
);
$violet: (
  0: rgb(64 27 119),
  1: rgb(76 36 140),
  2: rgb(88 46 160),
  3: rgb(100 57 181),
  4: rgb(114 70 201),
  5: rgb(136 101 212),
  6: rgb(162 136 223),
  7: rgb(190 173 233),
  8: rgb(221 212 244),
  9: rgb(241 238 250),
);
$indigo: (
  0: rgb(23 30 101),
  1: rgb(32 41 122),
  2: rgb(41 54 142),
  3: rgb(52 68 163),
  4: rgb(64 83 183),
  5: rgb(95 113 197),
  6: rgb(129 145 212),
  7: rgb(167 180 226),
  8: rgb(209 216 241),
  9: rgb(237 239 248),
);
$blue: (
  0: rgb(5 49 112),
  1: rgb(10 70 148),
  2: rgb(19 92 184),
  3: rgb(29 117 219),
  4: rgb(41 144 255),
  5: rgb(84 169 255),
  6: rgb(127 193 255),
  7: rgb(169 215 255),
  8: rgb(212 236 255),
  9: rgb(239 248 255),
);
$light-blue: (
  0: rgb(0 55 97),
  1: rgb(0 77 133),
  2: rgb(3 102 169),
  3: rgb(10 129 204),
  4: rgb(19 159 240),
  5: rgb(64 180 243),
  6: rgb(110 200 246),
  7: rgb(157 220 249),
  8: rgb(206 238 252),
  9: rgb(235 248 254),
);
$cyan: (
  0: rgb(4 52 61),
  1: rgb(7 79 92),
  2: rgb(10 108 123),
  3: rgb(14 137 153),
  4: rgb(19 168 184),
  5: rgb(56 187 198),
  6: rgb(98 205 212),
  7: rgb(145 223 227),
  8: rgb(198 239 241),
  9: rgb(231 247 248),
);
$teal: (
  0: rgb(2 60 57),
  1: rgb(4 90 85),
  2: rgb(7 119 111),
  3: rgb(10 149 136),
  4: rgb(14 179 161),
  5: rgb(51 194 176),
  6: rgb(94 209 193),
  7: rgb(142 225 211),
  8: rgb(196 240 232),
  9: rgb(230 247 244),
);
$green: (
  0: rgb(18 60 25),
  1: rgb(28 90 37),
  2: rgb(39 119 49),
  3: rgb(50 149 61),
  4: rgb(62 179 73),
  5: rgb(93 194 100),
  6: rgb(127 209 132),
  7: rgb(166 225 168),
  8: rgb(208 240 209),
  9: rgb(236 247 236),
);
$light-green: (
  0: rgb(38 61 19),
  1: rgb(59 92 29),
  2: rgb(81 123 40),
  3: rgb(103 153 52),
  4: rgb(127 184 64),
  5: rgb(151 198 95),
  6: rgb(176 212 129),
  7: rgb(201 227 167),
  8: rgb(228 241 209),
  9: rgb(243 248 237),
);
$lime: (
  0: rgb(49 70 3),
  1: rgb(75 105 5),
  2: rgb(103 141 9),
  3: rgb(132 176 12),
  4: rgb(162 211 17),
  5: rgb(174 220 58),
  6: rgb(189 229 102),
  7: rgb(207 237 150),
  8: rgb(229 246 201),
  9: rgb(243 251 233),
);
$yellow: (
  0: rgb(84 73 3),
  1: rgb(126 108 6),
  2: rgb(168 142 10),
  3: rgb(210 175 15),
  4: rgb(252 206 20),
  5: rgb(253 222 67),
  6: rgb(253 235 113),
  7: rgb(254 245 160),
  8: rgb(254 251 208),
  9: rgb(255 254 236),
);
$amber: (
  0: rgb(81 46 9),
  1: rgb(121 75 15),
  2: rgb(161 107 22),
  3: rgb(202 143 30),
  4: rgb(242 183 38),
  5: rgb(245 202 80),
  6: rgb(247 219 122),
  7: rgb(250 234 166),
  8: rgb(252 246 210),
  9: rgb(254 251 237),
);
$orange: (
  0: rgb(85 31 3),
  1: rgb(128 53 6),
  2: rgb(170 80 10),
  3: rgb(213 111 15),
  4: rgb(255 146 20),
  5: rgb(255 174 67),
  6: rgb(255 199 114),
  7: rgb(255 221 161),
  8: rgb(255 239 208),
  9: rgb(255 249 237),
);
$grey: (
  0: rgb(28 31 35),
  1: rgb(46 50 56),
  2: rgb(65 70 76),
  3: rgb(85 91 97),
  4: rgb(107 112 117),
  5: rgb(136 141 146),
  6: rgb(167 171 176),
  7: rgb(198 202 205),
  8: rgb(230 232 234),
  9: rgb(249 249 249),
);
